#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0;
  
  }
  
  .nav-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    background: rgba(78, 117, 255, 1);
    border-radius: 8px;
    color: #ffffff;
  }